.imcenter{ 
    float:right
}
body{
    text-align: center;
    font-size: small;
}
input[type=reset]{background-color: rgb(255, 0, 0);}
.reset{
    background-color: red;
}
.BIG{
    font-size: 36px;
}